:root {
    font-family: sans-serif;

    --text-font-size: 1.25rem;
    --title-font-size: 2.5rem;
}

body {
    margin: 0;
    padding: 0;
}

a, input {
    font-size: var(--text-font-size);
}

/**
START::MENU::START
START::MENU::START
START::MENU::START
**/

.mi-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.mi-menu__item:hover {
    background-color: #c8c8c8;
}

.mi-menu__item[data-resaltado="true"] {
    background-color: #8A8A8A;
}

.mi-menu__item[data-resaltado="true"] > .mi-menu__link {
    color: white;
}

.mi-menu__link {
    display: block;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: black;
    text-align: center;
}

/**
END::MENU::END
END::MENU::END
END::MENU::END
**/


/**
START::USERNAME FORM::START
START::USERNAME FORM::START
START::USERNAME FORM::START
**/

.username-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    box-sizing: border-box;
    gap: 1rem;
}

.username-form__input {
    background-color: #D9D9D9;
    border: none;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

.username-form__button {
    background-color: #FF9B0F;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    transition: 250ms ease-in-out background-color;
    font-size: 1.25rem;
}

.username-form__button:hover {
    background-color: #ff9808;
}

/**
END::USERNAME FORM::END
END::USERNAME FORM::END
END::USERNAME FORM::END
**/


/**
START::INDEX::START
START::INDEX::START
START::INDEX::START
**/

.index-content__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 2rem 1rem;
    gap: 1rem;
}

.index-content__text {
    margin: 0;
    text-align: justify;
}

/**
END::INDEX::END
END::INDEX::END
END::INDEX::END
**/

/**
START::SIGHTSEEING::START
START::SIGHTSEEING::START
START::SIGHTSEEING::START
**/

.sightseeing__content-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2rem 1rem;
}

.sightseeing__loading-spinner,
.sightseeing__winner-content, 
.sightseeing__non-winner-content,
.sightseeing__winner-content__first-time,
.sightseeing__winner-content__not-first-time {
    display: none;
}

.sightseeing__content-container[data-state="loading"]
.sightseeing__loading-spinner 
{
    display: flex;
}

.sightseeing__content-container[data-state="loaded"][data-prize-state="prize_pending"]
.sightseeing__winner-content 
{
    display: flex;
}

.sightseeing__content-container[data-state="loaded"][data-prize-state="prize_pending"][data-is-first-time="true"]
.sightseeing__winner-content__first-time
{
    display: flex;
}

.sightseeing__content-container[data-state="loaded"][data-prize-state="prize_pending"][data-is-first-time="false"]
.sightseeing__winner-content__not-first-time
{
    display: flex;
}

.sightseeing__content-container[data-state="loaded"][data-prize-state="null"]
.sightseeing__non-winner-content 
{
    display: flex;
}

.sightseeing__loading-spinner {
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    justify-content: center;
}

.loader {
  --color-1: #0015FF;
  --color-2: #8A8A8A;
  --size: 1px;

  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border: calc(5 * var(--size)) solid var(--color-1);
  border-bottom-color: var(--color-2);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sightseeing__winner-content {
    flex-direction: column;
}

.sightseeing__winner-content__not-first-time {
    flex-direction: column;
}

.redeem-code {
    display: flex;
    background-color: #EAEAEA;
    padding: 0.75rem 0.5rem;
    border-radius: 0.75rem;
    justify-content: space-between;
}

.redeem-code__input {
    background-color: transparent;
    border: none;
    font-weight: bolder;
    color: black;
}

.redeem-code__button {
    color: black;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.contact-tray {
    display: flex;
}

.contact-tray__button {
    display: block;
    font-size: 2.5rem;
    padding: 0.5rem 0;
    background-color: transparent;
    border: none;
}

.why-link {
    color: blue;
    text-decoration: underline;
    text-align: center;
}

/**
END::SIGHTSEEING::END
END::SIGHTSEEING::END
END::SIGHTSEEING::END
**/

.text {
    font-size: var(--text-font-size);
}

.title {
    font-weight: bold;
    font-size: var(--title-font-size);
    text-align: center;
    margin: 0;
    padding: 0;
}

.divisor-line {
    width: 80%;
    margin-inline: auto;
    background-color: black;
    height: 6px;
}
